@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  width: 100%;
}

main {
  margin: 0 auto;
  /* width: 80%; */
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.router-link-active {
  background-color: hsla(160, 100%, 37%, 0.3);;
}

#logo {
  font-family: 'Bitcount';
  font-size: 3rem;
}

#logo span {
  color: hsla(160, 100%, 37%, 1);
}

/* Promo */

.promoSection {
  margin: 0 auto;
  width: 80%;
}

.promoText {
  z-index: 1;
  text-align: center;
  width: 11rem;
  /* padding: 0.2rem 0; */
  /* margin: 2rem; */
  /* border: 2px white solid; */
  border-radius: 10px;
  /* color: rgb(255, 228, 212); */
  /* color: rgb(230, 205, 191); */
  color: #dcb7a2;
  /* background-color: hsla(26, 72%, 76%, 0.2); */
  /* background-color: hsla(106, 72%, 76%, 0.9); */
  /* background-color: hsla(160, 100%, 37%, 0.7); */
  background-color: white;
  filter: drop-shadow(0 0 5px #dcb7a2);
}

.promoText h2 {
  /* color: white; */
  padding: 0.3rem;
  font-family: 'Helvetica', sans-serif;
  font-size: 1.5rem;
}

.promoBanner {
  margin: 0 auto;
  padding: 2rem;
  max-width: 45rem;
  height: 25rem;
  background-image: url('https://eturgeneva.github.io/toy-store-assets/promo-banner-2.png');
  background-size: cover;
  background-position: center -25px;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

form, .userLogin {
    display: flex;
    flex-direction: column;
    /* width: 15rem; */
    padding: 1rem;
}

.userRegister {
    display: flex;
    flex-direction: column;
    width: 15rem;
    padding: 1rem;
}

.userArea {
  display: flex;
}

.userProfile {
  margin: 0.5rem 3rem;
  padding: 0.3rem;
}

.userProfile input {
  padding: 0;
}

.framed {
    border: 1px grey solid;
    border-radius: 5px;
    /* padding: 0.5rem; */
}

input {
    padding: 0.2rem;
    /* margin: 0.5rem; */
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button {
    background-color: hsla(160, 100%, 37%, 1);
    width: 5rem;
    height: 1.8rem;
    border: none;
    border-radius: 2px;
    margin: 0.8rem 0.6rem;
    padding: 0.3rem;
}

button:hover {
  cursor: pointer;
}

.loginButton, .logoutButton, .editButton, .likeButton {
    background-color: rgb(163, 168, 170);
}

.likeButton:hover, .buyButton:hover {
  scale: 1.1;
  transition: 4ms;
}

.oauthButtons {
  display: flex;
  justify-content: center;
}

.oauthButton {
  /* width: auto;*/
  width: 10rem;
  margin: 0.2rem;
}

/* Products*/

.product {
  display: flex;
  margin: 0 auto;
  /* width: 85%; */
}

.productsSection {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  margin: 0 auto;
}

.productImage {
  width: 10rem;
  /* margin-top: 0.5rem; */
  margin: 0.5rem 0;
  border-radius: 3px;
}

.productImage:hover {
  scale: 1.05;
  /* transition: 20ms; */
  transition-duration: 0.3s;
  cursor: pointer;
}

.productPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  background-color: rgb(44, 44, 44);
  border-radius: 5px;
}

.productDetails {
  display: flex;
}

.productDetailsImage {
  width: 15rem;
}

.productDescription {
  width: 50%;
  margin-left: 2rem;
}

.productDescription h4 {
  font-weight: 700;
}

.productDescription div {
  margin-bottom: 1rem;
}